snippet v "create a simple variable" b
variable "$1" {
  type = $2
}
endsnippet

snippet vf "create a variable with all of the things" b
variable "$1" {
  type = $2
  description = "$3"
  default = $4
}
endsnippet

snippet r "create a simple resource" b
resource "$1" "$2" {
  $3
}
endsnippet

snippet o "create an output" b
output "$1" {
  value = $2
}
endsnippet

snippet m "create a simple module call" b
module "$1" {
  source = "$2"
}
endsnippet
