snippet standup "add standup template, for daily diary" b
# tomorrow's standup

Yesterday: $1
Today: $2
Blockers: $3
endsnippet

snippet ustandup "add standup template that uses emojis" b
# tomorrow's standup

:clock1:
* $1

:crystal_ball:
* $2

:octagonal_sign:
* $3
endsnippet
